@page
@model SinusSkateboards.Pages.SearchModel
@{
}

<div class="wrapper2">
    <header>
        <h1>
            Sinus Skateboards
            <img src="~/imgs/logos/sinus-logo-landscape -  small.png" />
        </h1>
    </header>
    <nav>
        <a href="/Index">Home</a>
        @if (Model.ItemsInCart > 0)
        {
            <a href="/Cart">
                <span class="material-icons-outlined">
                    shopping_cart
                </span>
            </a>
        }
        else
        {
            <a href="/Index">
                <span class="material-icons-outlined">
                    shopping_cart
                </span>
            </a>
        }
        <p>(@Model.ItemsInCart)</p>
        <form method="post">
            <input id="search" type="search" style="width:400px" asp-for="@Model.SearchString" placeholder="Search product, ex: t-shirt or northern lights or blue" />
            <input type="submit" asp-page-handler="Search" asp-route-searchString="@Model.SearchString" />
        </form>
    </nav>
    <section>
        <main>
            @foreach (var product in Model.Products)
            {
                <article>
                    <img src="~/imgs/products/@product.Image" style="max-width:100px">
                    <h2>@product.Title</h2>
                    <p>@product.Description</p>
                    <p>@product.Color</p>
                    <p>$@product.Price</p>

                    <form method="post">
                        <button class="brn btn-success" asp-route-productId="@product.ProductId">Go to product</button>
                    </form>
                </article>
            }
        </main>
        <aside>
            <h4>Clothes</h4>
            <a href="/T-shirts">T-shirts</a>
            <a href="/Hoodies">Hoodies</a>
            <a href="/Caps">Caps</a>

            <h4>Skateboarding</h4>
            <a href="/Boards">Boards</a>
            <a href="/Wheels">Wheels</a>
        </aside>
    </section>
    <footer>
        <article>
            &copy; 2021 - Sinus Skateboards</p>
            <a href="/About">About</a>
        </article>
    </footer>
</div>